# Environments
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# venv
venv/
.venv/

# Temporary files
tmp_audio/
*.tmp
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Custom additions
sample_voice.m4a